<ion-header>
  <ion-navbar>
    <ion-title>
      Todo List
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let todo of todos">
      <ion-item>
        <h2 [style.opacity]="todo.done ? 0.5 : 1">{{ todo.description }}</h2>
        <p [style.opacity]="todo.done ? 0.5 : 1">{{ todo.getDueString() }}</p>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="secondary" *ngIf="!todo.done" (click)="setDone(todo, true)">
          <ion-icon name="checkmark"></ion-icon>
          Done
        </button>
        <button ion-button color="primary" *ngIf="todo.done" (click)="setDone(todo, false)">
          <ion-icon name="undo"></ion-icon>
          Undo
        </button>
      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button color="danger">
          <ion-icon name="remove-circle"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab bottom right>
    <button ion-fab (click)="showCreate()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
